@font-face {
   font-family: 'Vegur-Bold';
   src: url(Font/Vegur/Vegur-B_0_600.otf) format("opentype");
}

@font-face {
   font-family: 'Vegur-ExtraLight';
   src: url(Font/Vegur/Vegur-EL_0500.otf) format("opentype");
}

@font-face {
      font-family: 'Vegur-Light';
      src: url(Font/Vegur/Vegur-L_0600.otf) format("opentype");
   }

@font-face {
      font-family: 'Vegur-Medium';
      src:url(Font/Vegur/Vegur-M_0600.otf) format("opentype");
}

@font-face {
      font-family: 'Vegur-Regular';
      src:url(Font/Vegur/Vegur-R_0_600.otf) format("opentype");
}
 
body {
    margin: 0px;
}

header {  
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, #fefefe , #e6e6e6);
    height: 80px;
}

.Items_menu {
   display: inline-block; 
   vertical-align: middle;
   text-decoration: none;
   color: black;
   font-size: 20px;
   font-family: 'Vegur-Medium';
   padding-top: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
   padding-left: 20px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 2.5;
   letter-spacing: -0.7px;
   text-align: center; 
   
}

.Items_menu:hover {
   border-radius: 0px 0px 10px 10px;
   color: white;
   background-color: black;
   height: 50px;
}

hr {
   border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.img {
   background: url(images/woman.png) no-repeat;
   background-size: 100%;
   height: 640px;
}

.logo {
  padding-top: 55px; 
  margin-left: 15%;
  font-family: 'Montez', cursive;
  font-size: 80px;
}

.Vegur1 {
   font-family: 'Vegur-Light';
   font-size: 30px;
}

.blockInfo {
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 45px;
}

.date {
   color: #0cbdca;
   padding-top: 25px;
 }

 .text {
   font-family: Arial;
   font-size: 15px;
   line-height: 1.5;
   padding-top: 5px;
 }

 .Procedures {
   display: block;
   font-family: 'Vegur-Light';
   font-size: 25px;
   color: #0dc2ce;
   text-decoration: none;
 }

 .column {
   display: block;
   padding-top: 25px;
}

.text-column2 {
  display: block;
  float: bottom;
  font-family: Arial;
  font-size: 15px;
  line-height: 1.5;
  padding-top: 10px; 
}

.boxes {
   display: inline-block;
   margin-top: 20px;
}

.block0 {
  display: flex;   
}

.block1 {
  float: left;
  display: block;
}

.block2 {
  float: right;
  display: block;
  margin-left: 20px;
  padding-top: 5px;
}

.column3 {
  display: block;
  padding-top: 25px;
}

.top-footer {
  background-color: #efefef;
  display: flex;
  justify-content: space-evenly;
}

.top-footer-text {
  display: block;
  font-size: 15px;
  font-family: Arial;
  line-height: 1.5;
  width: 290px;
  height: 100px;
  margin-top: 10px;
}

.footer-button {
  display: block;
  background: #0dc2ce;
  border: none;
  border-radius: 10px 10px 10px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  color: white;
  text-align: center;
  width: 120px;
  outline: none;
}

.footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 16%;
}

.block2_0 {
  float: right;
  display: block;
}

.footer-text {
  display: block;
  font-family: 'Vegur-Light';
  font-size: 20px;
  color: white;
  margin-top: 40px;
  line-height: 1.2;
}

.footer-text2 {
   font-size: 30px;
   display: block;
   font-family: 'Vegur-Light';
   margin-top: 40px;
   color: #0dc2ce;
}

 






 
